.container-header {
    @include display-flex($justify: center, $align: center);
    flex-direction: column;
}

nav ul {
    list-style: none;
    @include display-flex($justify: center, $align: center)
}

nav ul li {
    padding: 20px;
}