.container-prodotti {
    @include display-flex($justify: 'center', $align:'center');
    flex-wrap: wrap;
}

.card-prodotti {
    position: relative;
    width: calc(100% / 3);
    &:hover {
        .layover {
            opacity: 0.6;
        }
        h2 {
            display: block;
        }
    }
    h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
    }
} 

.img-prodotti {
    width: 100%;
}