* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.active {
  border-bottom: 2px solid blue;
}

a {
  text-decoration: none;
}

.container-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  padding: 20px;
}

.jumbothron {
  width: 100%;
}

.container-prodotti {
  display: flex;
  justify-content: "center";
  align-items: "center";
  flex-wrap: wrap;
}

.card-prodotti {
  position: relative;
  width: calc(100% / 3);
}

.card-prodotti:hover .layover {
  opacity: 0.6;
}

.card-prodotti:hover h2 {
  display: block;
}

.card-prodotti h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.img-prodotti {
  width: 100%;
}

footer {
  height: 70px;
  width: 100%;
}

footer ul {
  list-style: none;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer ul li {
  padding: 20px;
}

.container-blog {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-blog {
  width: calc(100% / 4);
  margin: 30px;
}

.card-blog img {
  width: 100%;
}

.container-dettaglio {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.container-dettaglio img {
  width: 100%;
  display: block;
}

.container-dettaglio h2,
.container-dettaglio p {
  text-align: center;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-set {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin: 50px;
}

